.appointment-actions {
  margin-top: 10px;
}

.appointment-actions button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.appointment-actions button:hover {
  background-color: #0056b3;
}

.appointment-actions button:last-child {
  background-color: #dc3545;
}

.appointment-actions button:last-child:hover {
  background-color: #c82333;
}

.appointment-edit input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
