body {
  font-family: "Montserrat", sans-serif;
}

.search-bar {
  background-color: #007bff;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap; /* Enable wrapping for smaller screens */
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  max-width: 93vw;
  margin: auto;
}

.search-item {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 14px;
  flex: 1; /* Allow items to grow and shrink equally */
  min-width: 150px; /* Set a minimum width for each item */
}

.search-item label {
  margin-bottom: 5px;
  font-weight: bold;
}

.search-item input,
.search-item select,
.search-item button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  width: 100%; /* Make inputs and buttons responsive */
  box-sizing: border-box; /* Include padding in width calculations */
}

.search-item option {
  opacity: 10%;
}

.search-item button {
  background-color: #ccc;
  font-size: 14px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.search-item button:hover {
  background-color: #09db5a;
  color: white;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column; /* Stack items vertically on smaller screens */
    gap: 20px; /* Add more spacing between items */
  }
}
