.banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9fafe;
  }
  
  .banner-content {
    max-width: 50%;
  }
  
  .banner-content h1 {
    font-size: 48px;
    color: #1d3557;
  }
  
  .banner-content p {
    font-size: 18px;
    color: #606060;
    margin: 20px 0;
  }
  
  .banner-buttons button {
    padding: 15px 30px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .consult-now {
    background-color: #007bff;
    color: white;
  }
  
  .customer-review {
    background-color: #f0f0f0;
    color: black;
  }
  
  .banner-image img {
    max-width: 35vw;
    height: auto;
    border-radius: 10px;
  }
  